* {
  padding: 0;
  margin: 0;
  border: 0;
	}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #354f52;
  color: #cad2c5;
}
  
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: #2f3e46;
  border-bottom: 1px solid #84a98c;
}
  .logo-text {
    color: #cad2c5;
    text-decoration: none;
  }

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

  .row-1 {
    height: 28vh;
  }

  .row-2 {
    height: 50vh;
  }

  .row-3 {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
  }

  .row-3 > h3 {
    text-align: center;
    margin-bottom: 10px;
  }

  .col.word-history {
    height: auto;
  }
    .col.word-history > span.chosen-word {
      margin-bottom: 10px;
    }

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

  .output-text, .chosen-words {
    width: 45vw;
    background-color: #84a98c;
    padding-top: 20px;
  }
  
  .translate-form {
    display: none;
    align-items: center;
    width: 45vw;
    background-color: #84a98c;
    padding-top: 20px;
  }

  .save-words {
    width: 10vw;
    background-color: #84a98c;
    padding-top: 20px;
    align-items: center;
    justify-content: flex-end;
  }

.input-text-form {
  width: 50%;
  text-align: center;
}

.input-text {
  width: 50%;
  height: 38px;
  border: 1px solid #84a98c;
}

.btn-input-text {
  width: 50px;
  height: 40px;
  margin-left: -10px;
  color: #cad2c5;
  background-color: #2f3e46;
  border: 1px solid #84a98c;
  border-radius: 0 10px 10px 0;
}

.btn-history-words {
  width: 80px;
  height: 30px;
  color: #cad2c5;
  background-color: #2f3e46;
  border: 1px solid #84a98c;
}

.btn-save {
  width: 80px;
  height: 50px;
  margin-right: 20px;
  color: #cad2c5;
  background-color: #2f3e46;
  border: 1px solid #84a98c;
}

.output-word {
  color: #fff;
  background-color: #52796f;
  padding: 8px;
  margin-left: 10px;
  border: 1px solid #2f3e46;
}
  .selected {
    background-color: #cad2c5;
  }

.chosen-word {
  color: #fff;
  background-color: #fe6d73;
  padding: 8px;
  margin-left: 10px;
}

.translate-word {
  color: #fff;
  background-color: #06d6a0;
  padding: 8px;
  margin-left: 10px;
}

.chosen-word--translate {
  display: none;
  color: #fff;
  background-color: #06d6a0;
  padding: 8px;
  margin-left: 10px;
}

.modal-window {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: auto;
  height: 30%;
  background: rgba(0, 0, 0, 0.8);
}

input.translate-text {
  width: 60%;
  height: 38px;
}

button.btn-translate-ok {
  width: 50px;
  height: 38px;
  color: #cad2c5;
  background-color: #2f3e46;
  border: 1px solid #84a98c;
  border-radius: 0 10px 10px 0;
}